.app {
  height: 100%;
  display: flex;
}

.leftSection {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100%;
}

.aside {
  background-color: #BCB4DF;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ul {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow-y: scroll;
}

.nonActive, .activeLi {
  list-style-type: none;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.activeLi {
  background-color: #F8F9A3;
}

.nonActive {
  background-color: lightgray;
}

.ulContainer {
  width: 100%;
  height: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  background-color: white !important;
  border-color: black !important;
}

.liTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  text-align: center;
  font-size: 25px;
}
.content {
  font-size: 10px;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  margin: 10px;
  width: 100px;
  border: 1px solid black;
}



